{% extends "gestor_app/base.html" %}
{% block body %}
  <h1>Tareas ListView de {{user}}</h1>
  <form method="get" action="{% url 'tareas-list' %}">
    <label for="estado_filter">Estado:</label>
    <select name="estado_filter" id="estado_filter">
      <option value="">All</option>
      {% for choice in tarea_form.fields.estado.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == request.GET.estado_filter %}selected{% endif %}>
          {{ choice.1 }}
        </option>
      {% endfor %}
    </select>

    <label for="categoria_filter">Categoría:</label>
    <select name="categoria_filter" id="categoria_filter">
      <option value="">All</option>
      {% for choice in tarea_form.fields.categoría.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == request.GET.categoria_filter %}selected{% endif %}>
          {{ choice.1 }}
        </option>
      {% endfor %}
    </select>

    <button type="submit">Filter</button>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Categoría</th>
        <th>Acciones</th>
        <th>Observaciones<th>
        
      </tr>
    </thead>
    <tbody>
      {% for tarea in object_list %}
        <tr>
          <td>{{ tarea.título }}</td>
          <td>{{ tarea.descripción }}</td>
          <td>{{ tarea.vencimiento_fecha|date:"d-m-Y" }}</td>
          <td>{{ tarea.vencimiento_hora|time:"H:i" }}</td>
          <td>
            <form method="post" action="{% url 'tareas-list' %}">
              {% csrf_token %}
              {{ tarea.estado }}
              <select name="estado" onchange="this.form.submit()">
                {% for choice in tarea_form.fields.estado.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == tarea.estado %}selected{% endif %}>
                    {{ choice.1 }}
                  </option>
                {% endfor %}
              </select>
              <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'tareas-list' %}">
              {% csrf_token %}
              {{ tarea.categoría }}
              <select name="categoria" onchange="this.form.submit()">
                {% for choice in tarea_form.fields.categoría.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == tarea.categoría %}selected{% endif %}>
                    {{ choice.1 }}
                  </option>
                {% endfor %}
              </select>
              <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
            </form>
          </td>
          <td>
            
            
            <form method="post" action="{% url 'tareas-list' %}">
              {% csrf_token %}
              <a class="btn btn-outline-primary" href="{% url 'tareas-edit' tarea.id %}" role="button">Editar</a>
              <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
              <button class="btn btn-outline-success" type="submit" name="estado" value="COMPLETADA">Completar</button>
              <a class="btn btn-outline-danger" href="{% url 'tareas-delete' tarea.id %}" role="button">Eliminar</a>
            </form>

            
          </td>
          <td>
            <div class="accordion" id="accordionExample">
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item"> 
            </div>         
          </td>
        </tr>


        
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
