{% extends "gestor_app/base.html" %}

{% block body %}

{% if user.is_authenticated %}
   
{% else %}
    <p>No Logueado.</p>
{% endif %}
  
<h1>Tareas Pendientes de {{user}}</h1>
<ol>
    
    {% for tarea in tareas %}
        <ul>
        <li>Usuario: {{ tarea.usuario }}</li>
        <li>Tarea: {{ tarea.título }}</li>
        <li>Descripción: {{ tarea.descripción }}</li>
        <li>Categoría: {{ tarea.categoría }}</li>
        <li>Estado: {{ tarea.estado }}</li>
        <li>Fecha : {{tarea.vencimiento_fecha}}
        <li>Observación: {{tarea.observación}}</li>
        </ul>
        <br>
       
    
    {% endfor %}
</ol>

{%endblock%}


